<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <title>{{ page.title }} - 成成工作室</title>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="author" content="成成工作室" />
   <meta name="keywords" content="{{ page.tags }}" />
   <!-- syntax highlighting CSS -->
   <link href="{{ site.baseurl }}css/default.css" rel="stylesheet">
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}css/screen.css" type="text/css" media="screen, projection" />
   <script type="text/javascript" src="http://tajs.qq.com/stats?sId=32394408" charset="UTF-8"></script>
   <script src="{{ site.baseurl }}js/highlight.min.js"></script>
   <script >hljs.initHighlightingOnLoad();</script>  
</head>
<body>

<div class="site">
  <div class="title">
	  <a href="{{ site.baseurl }}">Home</a>
	  <a class="extra" href="/pages/projects">Project</a>
	  <!-- <a class="extra" href="/pages/about">About</a> -->
	  <a class="extra" href="/pages/contact-us">Contact us</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
      <p>成成工作室 Copyright 2014 - </p>
  </div>
</div>

</body>
</html>
